@using WebApp_training.Presentations.ViewModels

@model IEnumerable<WebApp_training.Presentations.ViewModels.EmployeeListItemViewModel>

@{
    ViewData["Title"] = "従業員一覧";
}
<h2 class="text-center mt-4">@ViewData["Title"]</h2>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8 text-center">
            <div class="alert alert-success" role="alert">
                従業員情報の読み込みが完了しました。
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>社員ID</th>
                        <th>氏名</th>
                        <th>電話番号</th>
                        <th>メールアドレス</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var emp in Model)
                    {
                        <tr>
                            <td>@emp.EmpId</td>
                            <td>@emp.EmpName</td>
                            <td>@emp.DeptId</td>
                            <td>@emp.DeptName</td>
                            <td>@emp.PhoneNum</td>
                            <td>@emp.EMail</td>
                        </tr>
                    }
                </tbody>
            </table>
            @*メニューに戻る*@
            <a asp-action="Index" asp-controller="Home" class="btn btn-secondary mt-3 ms-2">
                メニューに戻る
            </a>
        </div>
    </div>
</div>