@using WebApp_training.Presentations.ViewModels
@model DepartmentDeleteViewModel;
@{
    ViewData["Title"] = "部署削除(確認)";
}
<h2 class="text-center mt-4">@ViewData["Title"]</h2>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8">
            <table class="table">
                <tbody>
                    <tr>
                        @*DepartmentDeleteViewModelのDeptNameプロパティの値を表示する*@
                        <td class="fw-bold">@Html.DisplayNameFor(m => m.Name)</td>
                        <td>@Html.DisplayFor(m => m.Name)</td>
                        @if (Model.BelongingEmployeeCount > 0)
                            {
                                <div class="alert alert-warning animate__animated animate__fadeIn" role="alert">
                                    <i class="bi bi-exclamation-triangle-fill me-2"></i>
                                        この部署には現在 @Model.BelongingEmployeeCount 名の社員が所属しています。
                                        <br />
                                        削除を実行すると、該当の社員は自動的に「未所属」になります。
                                </div>
                            }
                    </tr>
                </tbody>
            </table>
            <div asp-validation-summary="All" class="text-danger"></div>
            <form>
                @*POSTリクエスト(Delete/Back)に値を渡すためにhidden属性を使う*@
                @*これがないと、次の画面で値が消えてしまう*@
                <input type="hidden" asp-for="Name" />
                <input type="hidden" asp-for="DeptId" />
                @*formaction/formmethod ボタンごとに送信先を変える*@
                @*同じフォーム内で[削除]と[戻る]を分岐できる*@
                <div class="text-center mt-4">
                    <button type="submit" formaction="@Url.Action("Delete", "DepartmentDelete")" formmethod="post"
                            class="btn btn-danger">削除</button>
                    <button type="submit" formaction="@Url.Action("Back", "DepartmentDelete")" formmethod="post"
                            class="btn btn-secondary">戻る</button>
                </div>
            </form>
        </div>
    </div>
</div>