@using WebApp_training.Presentations.ViewModels
@model EmployeeDeleteViewModel;
@{
    ViewData["Title"] = "従業員削除(確認)";
}
<h2 class="text-center mt-4">@ViewData["Title"]</h2>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        @*EmployeeDeleteViewModelのNameプロパティの値を表示する*@
                        <td class="fw-bold">@Html.DisplayNameFor(m => m.EmpId)</td>
                        <td>@Html.DisplayFor(m => m.EmpId)</td>
                    </tr>
                    <tr>
                        @*EmployeeDeleteViewModelのNameプロパティの値を表示する*@
                        <td class="fw-bold">@Html.DisplayNameFor(m => m.EmpName)</td>
                        <td>@Html.DisplayFor(m => m.EmpName)</td>
                    </tr>
                    <tr>
                        @*EmployeeDeleteViewModelのPhoneNumプロパティの値を表示する*@
                        <td class="fw-bold">@Html.DisplayNameFor(m => m.PhoneNum)</td>
                        <td>@Html.DisplayFor(m => m.PhoneNum)</td>
                    </tr>
                    <tr>
                        @*EmployeeDeleteViewModelのEMailプロパティの値を表示する*@
                        <td class="fw-bold">@Html.DisplayNameFor(m => m.EMail)</td>
                        <td>@Html.DisplayFor(m => m.EMail)</td>
                    </tr>
                    <tr>
                        @*EmployeeDeleteViewModelのDeptNameプロパティの値を表示する*@
                        <td class="fw-bold">@Html.DisplayNameFor(m => m.DeptName)</td>
                        <td>@Html.DisplayFor(m => m.DeptName)</td>
                    </tr>
                </tbody>
            </table>

            <form>
                @*POSTリクエスト(Delete/Back)に値を渡すためにhidden属性を使う*@
                @*これがないと、次の画面で値が消えてしまう*@
                <input type="hidden" asp-for="EmpId" />
                <input type="hidden" asp-for="EmpName" />
                <input type="hidden" asp-for="DeptId" />
                <input type="hidden" asp-for="PhoneNum" />
                <input type="hidden" asp-for="EMail" />
                <input type="hidden" asp-for="DeptName" />
                @*formaction/formmethod ボタンごとに送信先を変える*@
                @*同じフォーム内で[削除]と[戻る]を分岐できる*@
                <div class="text-center mt-4">
                    <button type="submit" formaction="@Url.Action("Delete", "EmployeeDelete")" formmethod="post"
                            class="btn btn-danger">削除</button>
                    <button type="submit" formaction="@Url.Action("Back", "EmployeeDelete")" formmethod="post"
                            class="btn btn-secondary">戻る</button>
                </div>
            </form>
        </div>
    </div>
</div>